.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* TB LR */
    margin: 0 auto;
}


/* header */

header nav {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

header nav img {
    margin-right: 65px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 0;
}


/* cta */

.cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cta-services {
    margin-top: 20px;
}

.cta-services h1 {
    font-size: 20px;
}

.cta .cta-text {
    vertical-align: top;
    font-size: 77px;
    margin-top: 120px;
    padding: 0px 75px;
    text-align: center;
}

.cta .cta-text button {
    background: white;
    vertical-align: top;
    margin-top: 6px;
    padding: 8px 44px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

.cta img {
    /*display: inline-block;*/
    margin-top: 69px;
}


/*main content*/

.main-content {
    border-top: 1px solid black;
    margin-top: 76px;
    padding-top: 39px;
    border-bottom: 1px solid black;
}


/*top content*/

.main-content .top-content {
    display: flex;
    padding: 0 10px;
}

.main-content .top-content .text-content {
    width: 410px;
    margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
    margin-right: 0;
}


/*middle content*/

.main-content .middle-img {
    margin-top: 45px;
}


/*bottom content*/

.main-content .bottom-content {
    display: flex;
    margin-top: 37px;
    padding: 0 10px;
    margin-bottom: 37px;
}

.main-content .bottom-content .text-content {
    width: 275px;
    /*display: inline-block;*/
    margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
    margin-right: 0;
}


/*footer*/

footer div {
    margin: 30px 250px;
}

footer #copyright {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
}