.container {
    width: 880px;
    /* TB LR */
    margin: 0 auto;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    width: 691px;
    vertical-align: top;
    margin-top: 35px;
}

header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 0;
}

header .logo {
    margin-top: 25px;
}


/* cta */

.cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cta-services {
    margin-top: 20px;
}


/*services*/

.main-content-services {
    border-top: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.service-content div {
    border: 1px solid black;
    width: 45%;
    height: 10%;
    padding: 10px;
    margin: 10px;
    background: lightgray;
}

.service-content button {
    margin-top: 10px;
    border-radius: 5px;
    height: 25px;
}


/*contact*/

.contact {
    margin-top: 57px;
    border-top: 1px solid black;
    padding: 39px 10px 0;
}

.contact p {
    margin: 20px 0;
}


/*bottom*/

.bottom {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
}

.bottom div {
    margin-top: 20px;
    width: 50%;
    padding: 20px;
}

.bottom ul {
    list-style-type: square;
    margin-top: 20px;
    margin-left: 20px;
}


/*footer*/

footer {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
}